.main {
    display: flex;
    position: relative;
    background-color: #F8F8F8;

    &-container {
        position: relative;
        width: 100%;
        margin-left: 90px;
        min-height: 100vh;
        background-color: #F8F8F8;
        transition: 1s all;

        &.sidebar-open {
            margin-left: 255px;
        }

        &-route {
            margin: 0 20px 10px 10px
        }
    }
}