.account-contianer {
    width: 80%;

    &-item {
        display: flex;
        align-items: center;
        width: 100%;

        &-input {
            width: 100%;

            .MuiFormControl-root {
                margin-top: 0 !important;
            }
        }

        &-button {
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
        }
    }
}
