.roles-list {
  display: flex;
  flex-direction: column;

  &-circular-progress {
    margin: auto;
  }

  &-table-area {
    width: 100%;
    margin: auto;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-table {
      margin: auto;
      width: 100%;
    }

    &-pagination {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-left: auto;
    }
  }
}

.access-management-detail-modal {
  &-close-icon-button {
    display: flex;
    justify-content: flex-end;
  }

  &-content {
    .left {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        font-size: 16px;
        letter-spacing: 0.15px;
        font-weight: 500;
      }

      .description {
        font-size: 14px;
        letter-spacing: 0.5px;
        font-weight: lighter;
      }
    }

    .right {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        width: 100%;
        .title {
          width: 30%;
          font-size: 16px;
          letter-spacing: 0.15px;
          font-weight: 500;
        }

        .description {
          width: 70%;
          font-size: 14px;
          letter-spacing: 0.5px;
          font-weight: lighter;
        }
      }
    }
  }
}

.ml-10 {
  margin-left: 10px;
}
.table-header {
  display: flex;
  justify-content: flex-end;
}

.MuiDataGrid-virtualScrollerContent {
  min-height: 400px;
}
