.sub-cards {
  .content > .no-result > .empty {
    padding: 30px 10px;
  }
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-bottom-20 {
  margin-bottom: 10px;
}
