$orange: #ff6000;
$deep-orange: #e35600;
$dark-orange: #cc4d00;
$orange-100: #c25700;

$white: #ffffff;
$white-10: #F8F8F8;

$black-10: #f5f5f5;
$black-20: #eeeeee;
$black-30: #e5e5e5;
$black-40: #dddddd;
$black-50: #cccccc;
$black-60: #9b9b9b;
$black-70: #919191;
$black-80: #7b7b7b;
$black-90:#646464;
$black-100: #484848;
$black-110: #111111;
$black-100-95: rgba(72, 72, 72, 0.95);
$black-two-08: rgba(0, 0, 0, 0.08);
$black-two-16: rgba(0, 0, 0, 0.16);

$charcoal-grey-10: #c1c2c7;
$charcoal-grey-20: #adaeb6;
$charcoal-grey-40: #6b6f7c;
$charcoal-grey: #3b3f52;
$cornflowers: #6c84fa;
$cornflowers-30: #f4f6ff;
$cornflowers-60: #5163bb;
$cornflowers-70: #3c4a8c;

$fire-engeine-red-40: #fa3f3f;
$fire-engeine-red-60: #ba0000;
$fire-engeine-red-70: #8c0000;
$fire-engeine-red: #f90000;

$lightish-green-30: #ebf9ec;
$lightish-green-60: #439e4a;
$lightish-green-70: #327637;
$lightish-green: #5ad363;

$brand-greeny-blue: #45b796;

$star: #f5cf3f;
$yellow-30: #fffae9;
$pink-30: #fee0e0;
$pink-50: #fef2f2;

$sky-blue-100: #00cfe8;